import marimo

app = marimo.App()


@app.cell
def _():
    import duckdb

    con = duckdb.connect()
    df = con.sql("""
        SELECT project_id AS project, date, metric, value
        FROM read_json_auto('{{.DataDir}}/**/*.jsonl')
        WHERE metric = 'daily_downloads'
        ORDER BY date DESC
        LIMIT 100
    """).df()
    df


if __name__ == "__main__":
    app.run()
