---
title: "{{.ViewName}}"
format: html
---

```{python}
import duckdb

con = duckdb.connect()
con.sql("""
    SELECT project, date, metric, value
    FROM read_parquet('{{.ViewsDataDir}}/metrics.parquet')
    WHERE metric = 'daily_stars'
    ORDER BY date DESC
    LIMIT 100
""").show()
```
